* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

:root {
     --primary-color: #ffffff;
     --secondry-color: #000000;
     --third-color: #242323;
}

.dark-theme {
     --primary-color: #000000;
     --secondry-color: #ffffff;
     --third-color: #ffffff;
}

#mainbox {
     display: flex;
}

#navbar {
     border-right: 1px solid #ffffff28;
     height: 100vh;
     padding-right: 3rem;
     background-color: var(--secondry-color);
     position: fixed;
     overflow-y: hidden;
}

#navbar h1 {
     text-align: center;
     color: var(--primary-color);
     margin: 2rem auto 3.5rem auto;
}

#navbar h2 {
     display: none;
}

#navbar ul li {
     margin: 29px 10px;
     list-style: none;
     padding-right: 3rem;
}


#navbar ul li a {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
     font-weight: 400;
     text-decoration: none;
     color: var(--primary-color);
}

#navbar ul li a img {
     border-radius: 50%;
     width: 25px;
}

/* nav2----------------------------------- */
#nav2 li {
     margin-left: 26px;
     list-style: none;
     margin-top: 3.8em;
}

#nav2 ul ol {
     padding: 10px;
     list-style: none;
}

#nav2 ul ol a {
     color: var(--primary-color);
     text-decoration: none;
}

#nav2 li a {
     color: var(--primary-color);
     font-size: 1.5rem;
     text-decoration: none;
}

.fa-bars {
     margin-right: 1rem;
     font-size: 1.5rem;
}

#nav2ul {
     z-index: 10;
     display: block;
     top: 14rem;
     background-color: var(--secondry-color);
     position: absolute;
     left: .7rem;
     box-shadow: 2px 2px 10px var(--primary-color);
     width: 250px;
     border-radius: 5px;
}

#nav2ul ol a {
     display: flex;
     font-size: 1.1rem;
     margin: 2px 0;
     font-family: system-ui;
     color: var(--primary-color);
     justify-content: space-between;
}

.fa-bug,
.fa-clock,
.fa-moon,
.fa-bookmark,
.fa-gear {
     font-size: 1.3rem;
     margin-right: 10px;
}


#main {
     padding-top: 3em;
     height: 10000px;
     background-color: var(--secondry-color);
     width: 100%;
}

#story {
     margin-left: 29em;
     display: flex;
}

.story {
     color: var(--primary-color);
     text-align: center;
     margin: 10px 12px;
     display: block;
}

.story img {
     border: 1px dashed rgb(255, 52, 255);
     object-fit: fill;
     border-radius: 50%;
     height: 63px;
     width: 63px;
}

#main2 {
     padding-top: 3em;
     height: 10000px;
     background-color: var(--secondry-color);
     width: 60%;
}

/* <!-- ------------------card-------------------> */


#cards {
     width: 500px;
     margin-left: 29em;
}

.card {
     display: block;
}


.card-heading {
     margin: 36px 0 16px 0;
     width: 100%;
     display: flex;
}

.card-heading img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin: 1px 13px 1px 5px;
}
#postlikes{
     background-color: rgba(255, 0, 0, 0);
     color: var(--primary-color);
     font-size: 1rem;
}
.cardusername {
     width: 500px;
     color: var(--primary-color);
     display: block;
}

.cardusername h2 {
     font-weight: 400;
     font-size: 1.1rem;
}

.cardusername h3 {
     font-size: 1rem;
     font-weight: 400;
}

.card-heading-option h1 {
     display: flex;
     justify-content: flex-end;
     color: var(--primary-color);
     cursor: pointer;
}

.card-img {
     width: 500px;
}

.card-img img {
     border-radius: 4px;
     width: 100%;
}

.card-likes {
     display: flex;
     width: 470px;
}

.card-likes .fa-heart,
.fa-comment,
.fa-share {
     margin: 10px;
     font-size: 1.7rem;
     color: var(--primary-color);
}

.card-footer {
     display: block;
     color: var(--primary-color);
}

#comment {
     color: var(--primary-color);
     background-color: var(--secondry-color);
     border: none;
}

#bookmark {
     margin: 10px 0 10px 19rem;
     font-size: 1.7rem;
     color: var(--primary-color);
}

#moreopt {
     width: 100%;
     z-index: 9;
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     background-color: #00000092;
}

.moreopt {
     top: 20%;
     border-radius: 10px;
     left: 37%;
     width: 27%;
     position: absolute;
     text-align: center;
     background-color: var(--third-color);
}
hr{
     border:1px solid rgb(47, 46, 46);
}
.moreopt ul{
     padding: 1rem 40px;
}
.moreopt ul a {
     font-family: system-ui;
     font-size: 1rem;
     font-weight: 400;
     text-decoration: none;
     color: var(--primary-color);
}


/* <!-- ------------------card-------------------> */

#profile {
     margin: 1rem 13em 0 2em;
     display: flex;
     justify-content: space-between;
     width: 58%;
}
#suggestionsprofile{
     margin: .3rem 13em 0 2em;
     display: flex;
     justify-content: space-between;
     width: 58%;
}
#suggestionsprofile img{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: none;
}
#profile h4 {
     cursor: pointer;
     font-weight: 400;
     color: rgb(0, 130, 243);
     margin: 18px 0 0 0;
}
#suggestionsprofile h4{
     cursor: pointer;
     font-weight: 400;
     color: rgb(0, 130, 243);
     margin: 18px 0 0 0;
}

.pro {
    
     display: flex;
}
.pro a{
     color: var(--primary-color);
     text-decoration: none;
}

.pro img {
     border: 1px dashed rgb(255, 67, 67);
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
#suggestionsprofile h3{
     color: var(--primary-color);
     font-weight: 300;
     margin: 0;
     font-size: 1rem;
}
#profilefooter{
     margin-top: 26px;
     display: flex;
     width: 80%;
     margin-left: 35px;
}
#profilefooter li{
     list-style: none;
}
#profilefooter li a{
     height: 10px;
     margin: 0;
     padding: 0 2px;
     display: flex;
     font-size: 14px;
    color:grey;
    text-decoration: none;
}
#profilefooter ul {
     margin: 10px 0 0 0;
}
#profilefooter ul a{
    color:grey;
    text-decoration: none;
}
.pro div {
     color: var(--primary-color);
     margin: .6rem 1rem;
}
.pro div p {
    color: var(--primary-color);
    font-size: 13px;
}
.pro div p {
     font-size: 17px;
     color: rgb(145, 142, 142);
}

.fa-square-plus,
.fa-heart,
.fa-facebook-messenger,
.fa-clapperboard,
.fa-compass,
.fa-magnifying-glass,
.fa-house,
.fa-instagram {
     font-size: 1.3rem;
     color: var(--primary-color);
     margin: 0 18px;
}




/* <!-- ------------------switch-------------------> */

#switch {
     width: 100%;
     z-index: 8;
     position: absolute;
     top: 0;
     height: 100%;
     background-color: #00000092;
}

#switch .switch span {
     cursor: pointer;
     position: absolute;
     top: 15px;
     right: 15px;
     color: var(--primary-color);
     font-size: 1.5rem;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.switch {
     box-shadow: 2px 2px 20px var(--primary-color);
     text-align: center;
     background-color: var(--secondry-color);
     position: absolute;
     top: 20%;
     width: 450px;
     height: 460px;
     left: 36%;
     border-radius: 10px;
     color: var(--primary-color);
}

.switch h1 {
     margin-bottom: 1.8rem;
     margin-top: 1.8em;
     font-size: 3em;
}

#use,
#pas {
     color: var(--secondry-color);
     border: 1px solid grey;
     margin: 4px 10px;
     width: 70%;
     padding: 9px 5px;
     font-size: 1rem;
     background-color: var(--primary-color);
}

#checkbox {
     margin: 10px 0;
}

.switch p {
     font-family: system-ui, sans-serif;
     margin: 1em 0 0 0;
}

.btnswitchlogin {
     margin: 8px 0;
     border-radius: 10px;
     padding: 7px 0;
     border: none;
     font-size: 1.1rem;
     background-color: rgb(49, 125, 183);
     width: 70%;
     color: var(--primary-color);
}

.sugge {
     display: flex;
     justify-content: space-between;
     color: var(--primary-color);
     width: 57%;
     font-size: 1.1rem;
     margin: 1rem 0rem 1rem 2.5em;
}

/* <!-- ------------------switch-------------------> */