@media (max-width:1250px){
     #signup{
          width: 90%;
     }
#signupchild1{
     display: none;
}
#signupchild2{
     margin: 0 auto;
     width: 80%;
     display: block;
}
}
@media (max-width:1000px){
     #foot{
          width: 90%;
          display: grid;grid-template-columns: repeat(6,1fr);
     }
}
@media (max-width:750px){
     #foot{
          width: 90%;
          display: grid;grid-template-columns: repeat(4,1fr);
     }
}
@media (max-width:550px){
     
}
@media (max-width:450px){
     #foot{
          width: 90%;
          display: grid;grid-template-columns: repeat(3,1fr);
     }
}
@media (max-width:300px){
     
}
