@media (max-width:1250px) {
     #navbar ul li a span {
          display: none;
     }

     #navbar {
          padding: 0;
     }

     #navbar h1 {
          display: none;
     }

     #navbar h2 {
          margin: 10px;
          display: block;
     }

     #navbar ul li {
        
          padding: 0;
     }
     #nav2 li a span{
          display: none;
     }
     #story {
          margin-left: 15em;
     }
     #cards {
          margin-left: 15em;
     }
     .sugge {
     width: 50%;
     }
}
@media (max-width:1000px){
     #main2{
          display: none;
     }
}